* {
    margin: 0; /*remove as margens */
    padding: 0; /*remove todos os preenchimentos de borda*/
}

:root {
    --card-title-border-color: #746615;
    --card-color-primary: #f7dd43;
    --card-bg-color: #1D1C19 ;
    --card-bg-imagem: url(assets/bg-yellow.svg)
}

body.blue {
    --card-title-border-color: #338AF3;
    --card-color-primary: #338AF3;
    --card-bg-color: #202024 ;
    --card-bg-imagem: url(assets/bg-blue.svg);
}

body.green {
    --card-title-border-color: #047C3f;
    --card-color-primary: #047C3f;
    --card-bg-color: #1a1f1b ;
    --card-bg-imagem: url(assets/bg-green.svg);
}

ul { /*não aparece as bolinhas da lista*/ 
    list-style: none;
} 

body{
    background-color: var(--card-bg-color);
    background-image: var(--card-bg-imagem);
    background-position: center; /*ajuste da tela no posição horizontal */
   /* background-position-y: 73%; /*ajuste da tela no posição vertical */
    background-repeat: no-repeat;
    background-size: cover;
}

body * {
    font-family: 'Roboto',  sans-serif;
}
#app {
    /*border: 2px solid red;*/

    width: fit-content; /*fit-content: encaixar o conteúdo */
    margin: auto; /*margem do bloco ao início da tela: 52 top | automático centralizado nas laterais */ 
    padding-top: 52px;
}

header{
    text-align: center;
    /*border: 1px solid yellow;*/ /*borda header*/
    margin-bottom: 63px; /* margem pra baixo do cabeçalho */
}
#cards {
    display: flex;
    flex-direction: column;
    gap: 20px;

}
/*card completo do dia */
.card { 
    /*border: purple solid; Para marcar o bloco visivelmente | automaticamente já é marcado se for definido a borda e colocado solid */
    padding: 32px 23px;
    text-align: center;

    /*copiado do figma:*/
    background: var(--card-bg-color);
    border-bottom: 2px solid var(--card-color-primary); /* borda abaixo*/
    border-radius: 6px; /* curva da borda de baixo*/     
}

/*data e dia*/ 
.card h2 {
    display: flex;
    padding: 8px 16px; /* altura: cima e baixo/lateral: direita e esquerda*/ 
    border: 1px solid var(--card-title-border-color);
    border-radius: 6px;
    gap: 16px;
    align-items: center; /*Ajusta o alinhamento em todos os eixos*/ 
    justify-content: center; /*Ajustar o conteúdo do quadro*/
    width: fit-content;
    margin-inline: auto;
    margin-bottom: 53px;

    color: #f7dd43;
    
    
    
    /*font-family: 'Roboto'; */
   /* font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 125%;*/
    
    
}
/* h2 {
    border: 1px solid yellow;
    border-radius: 3px;
    color: yellowgreen;
    margin-bottom: 20px;
    padding: 0px;
} */



/*Especificidade */
.card h2 span {
    color: #E1E1E6;
    font-size: 14px;
    text-transform: uppercase; /*tudo em maiúsculo*/
}

.card ul {
    display: flex;
    flex-direction: column;
    gap: 24px;

    width: 270px;
}

.card ul li {
    /*marcação do li - lista */
    /*border: 1px solid yellow ;*/
    margin-bottom: 5px;

    display: flex;
    align-items: center;
    justify-content: space-between; /*espaço entre os itens*/
}
.card ul li + li {   /*colocar o li que tenha um li antes */
    padding-top: 24px;
    border-top: 1px solid #323238;


}
.card ul li strong {
    font-weight: 900;    
    font-size: 36px; /*tamanho da fonte*/
    line-height: 125%; /*altura da linha */
    color: #E1E1E6;
}
/*Transição  | Aumento dos itens */
    .card h2:hover,
    .card ul li strong:hover,
    .card ul li img:hover {
        transform: scale(1.2) ;

    }
    .card h2,
    .card ul li strong,
    .card ul li img {
    transition: transform 0.2s;
} 
.card {
    opacity: 0;
    animation: appear 0.3s  forwards;
}
/*
.card::nth-child(1){
    animation-delay: .8s;
}
*/
@keyframes appear {
    0% {
        transform: translateY(-30px);
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (min-width: 700px){
    #cards {
        max-width: auto; /*encaixa automaticamente na largura da tela */
        flex-direction: row;
        flex-wrap: wrap;
    }
}